{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>E-Commerce Home</title>
    <link type="text/css" rel="stylesheet" href="staticfiles/item-store.css">
  </head>
  <body>
    <div class="navbar-main">
      <div class="navbar-main-left">
        <div><a class="navbar-main-link" href="{% url 'home' %}">Home</a></div>
      </div>
      <div class="navbar-main-right">
        <div><a class="navbar-main-link" href="{% url 'item_store' %}">All Items</a></div>
        <div><a class="navbar-main-link" href="{% url 'item_store' %}">Cart</a></div>
        <div><a class="navbar-main-link" href="{% url 'item_store' %}">SignIn</a></div>
      </div>
    </div>
    <div class="prefernce-bar-main">
      <a href="{% url 'item_store_meatseafood' %}" class="preference-bar-main-item-set">Meat & Seafood</a>
      <a href="{% url 'item_store_bakery' %}" class="preference-bar-main-item">Bakery</a>
      <a href="{% url 'item_store_fruits' %}" class="preference-bar-main-item">Fruits</a>
      <a href="{% url 'item_store_vegetables' %}" class="preference-bar-main-item">Vegetables</a>
      <a href="{% url 'item_store_dairy' %}" class="preference-bar-main-item">Dairy</a>
    </div>
    
    <div class="triple-item-container">
      {% for item in items %}
      {% if item.tag == 'Meat&Seafood' %}
      <div class="single-item-container">
        <img class="single-item-container-img" src="{{item.image}}">
        <div class="single-item-container-desc">
          <div style="padding-left: 10px; font-family: Poppins; font-weight: 800;">{{item.name}}</div>
          <div class="single-item-container-text" style="padding-bottom: 0;"">${{item.price}}</div>
          <div class="single-item-container-text" style="padding-top: 0; font-family: Poppins; font-weight: 0, 500;">Tag : {{item.tag}}</div>
          <div class="single-item-container-btn-div">
            <button class="single-item-container-btn"><a style="color: black; text-decoration: none;" href="">Add to Cart</a></button>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="bottom-container">
      <div style="margin-left: 50px; font-weight: 800;">Made by Raphael Bessin (2022)</div>
      <div style="margin-right: 50px; font-weight: 800;">Made with Python/Django & CSS/HTML</div>
    </div>
  </body>
</html>